
<nav>
    <div id="logo">
        <img id ="pao" src="\assets\roselicia.png" alt="logo"  >
    </div>
        <div class="btn-header">
        <button mat-raised-button color="primary" routerLink="/home" *ngIf="!user">HOME </button>
        <button mat-raised-button color="primary" routerLink="/products" *ngIf="!user">PRODUTOS </button>
        <button mat-raised-button color="primary" routerLink="/login" *ngIf="!user">ENTRAR </button>
        <button mat-raised-button color="primary" routerLink="/contact" *ngIf="!user">CONTATO </button>
        <button mat-raised-button color="primary" routerLink="/user" *ngIf="!user">USUÁRIO </button>
        <button mat-raised-button color="primary"  (click)="exit()" *ngIf="!user">SAIR </button>
    </div>
</nav>