nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom:outset;
    padding-left: 20px;
    padding-right: 20px;
    height:120px;
}

.btn-header{
    display: flex;
    gap: 10px; 
    button{
        padding: 7px;
    }
}