<div class="container-contacts">
    <div class="text-contacts">
        
        <h3 class="h3-entre">Entre em</h3>
       
        <h3 class="h3-contato">CONTATO</h3> 

    </div>

</div>

  
<div class="container-form">    
    <div class="elements-form">

      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Digite seu nome">
         <mat-hint>Hint</mat-hint>
      </mat-form-field> 

      <mat-form-field appearance="fill">  
         <mat-label>Digite seu email</mat-label>
         <input matInput placeholder="pat@example.com"  required>
         <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> [formControl]="email" -->        
      </mat-form-field>  

      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput placeholder="Digite seu telefone">
         <mat-hint>Hint</mat-hint>
      </mat-form-field> 

      <mat-form-field appearance="fill">
        <mat-label>Observação</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
        
      <button mat-raised-button color="primary">Enviar</button>



        
    </div>

</div>
