div#footer{
    background-color: rgb(200, 214, 238);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
}

input#txt-email{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    
}

input#btn-increver{
    background-color: rgb(117, 31, 31);
    color: white;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    width: 100px;
    margin-left: -40px;
    font-weight: bold;
    font-size: 15px;
}

div#rodape{
    background-color:rgb(230, 231, 232);
    text-align: center;
    padding-top: 20px;
    
   
}

div#whats{
    background-color:rgb(230, 231, 232);
    text-align: center;
    padding-bottom: 20px;
    
    
}