<div id="footer">
    <h1>Fique por dentro de todas as novidades</h1>
    <p>Deixe seu email abaixo e receba todas as novidades</p>
    <form id="inscrever">
        <input type="text" id="email" placeholder="   E-mail" id="txt-email">
        <input type="submit" value="Enviar" onclick="salvar()" id="btn-increver">

    </form>

</div>

<div id="rodape">
    <img src="\assets\roselicia2.png" alt="Logo Roselicia" >
</div>

<div id="whats">
    
    <img src="\assets\whats.png" alt="Logo whats" >
    
</div>